
#most_visited_pages rect {
    fill: steelblue;
}

#most_visited_pages text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}


#top_users rect {
    fill: steelblue;
}

#top_users text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}
